body {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin-top: 20px;
}

a {
  color: rgb(29, 167, 82);
}

.home {
  margin-top: 40px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
}

.home p {
  text-align: center;
}

#emailText {
  font-weight: 500;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: -12px;
}

.center-paragraph {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 0.5em;
}

#space-below-paragraph {
  margin-bottom: 1em;
}

.navMenu {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(210,210,210);
}

.navBar a {
  color: black;
  font-weight: 500;
  float: left;
  margin-left: 40px;
  display: inline-flex;
  text-decoration: none;
}

#betaText {
  border-top: 1px solid rgb(210,210,210);
  padding-top: 20px;
  height: 100px;
  text-align: center;
}

#hyperlink {
  height: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

#siteNavTitle {
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  margin-left: 9px;
  margin-right: 90px;
  text-decoration: none;
}

a:hover {
  color: rgb(48,216,112);
}

#siteNavTitle:hover {
  color: rgb(48,216,112);
}

.gridLinks {
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
}

.gridLinks a {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
}

.container {
  max-width: 1200px;
  margin: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  margin: auto;
  margin-top: 0;
  border-radius: 8px;
  width: 20em;
  height: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 25ms ease-in-out;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 18px, rgba(0, 0, 0, 0.22) 0px 9px 6px;
  transform: translateY(-2px);
  transition: 25ms ease-in-out;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-contents {
  padding: 21px 8px;
}

#cardImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
  }

  .cards { grid-template-columns: repeat(2, 2fr); }
  
}

#selfImage {
  border-radius: 100%;
}

.card h3 {
  padding-top: 20px;
}

.caption {
  font-style: italic;
  font-size: 16px;
}

.container h3 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.container a {
  text-decoration: none;
}

.form-container {
  max-width: 1200px;
  width: 20em;
  margin: auto;
}

#header-center {
  width: 20em;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75em;
}

.calculator-container {
  margin-top: 2em;
}

.wide-submit {
  margin: auto;
  margin-right: 0 !important;
  width: 100%;
}

.calcu-result {
  padding-left: 0.25em;
  font-weight: 500;
  font-size: 36px;
}

.small-calcu-result {
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
}

#generate-id-number-result-label {
  display: flex;
  margin-bottom: 0;
  align-content: stretch;
  align-items: center;
}

.valid-result {
  color: #02ff00;
}

.invalid-result {
  color: #ff0000;
}

#number-list {
  width: 100%;
  margin-top: 1em;
  visibility: hidden;
  resize: none;
}

/*
  Adjust CSS of bootstrap tables
*/
div.float-left.search.btn-group {
  width: 100%;
}

.fixed-table-body {
  height: auto !important; 
}