body {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
}

footer {
  margin-top: 20px;
}

a {
  color: black;
}

.home {
  margin-top: 40px;
  margin-bottom: 20px;
}

.home h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.home p {
  text-align: center;
}

#emailText {
  font-weight: 500;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: -12px;
}

#intro {
  text-align: center;
  width: 70%;
  margin: auto;
}

.navMenu {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(210,210,210);
}

.navBar a {
  color: black;
  font-weight: 500;
  float: left;
  margin-left: 40px;
  display: inline-flex;
  text-decoration: none;
}

#betaText {
  border-top: 1px solid rgb(210,210,210);
  padding-top: 20px;
  height: 100px;
  text-align: center;
}

#hyperlink {
  text-decoration: none;
  height: 20px;
  padding-bottom: 1px;
  border-bottom: 2px solid;
}

#siteNavTitle {
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 90px;
  text-decoration: none;
}

a:hover {
  color: rgb(48,216,112);
}

#siteNavTitle:hover {
  color: rgb(48,216,112);
}

.gridLinks {
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
}

.gridLinks a {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
}

.container {
  max-width: 1200px;
  margin: 0;
  width: auto;
  margin-left: 10em;
  margin-right: 10em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  margin: auto;
  margin-top: 0;
  border-radius: 8px;
  width: 20em;
  height: auto;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-contents {
  padding: 21px 8px;
}

#cardImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
  }

  .cards { grid-template-columns: repeat(2, 2fr); }
  
}

#selfImage {
  border-radius: 100%;
}

.card h3 {
  padding-top: 10px;
}

.caption {
  font-style: italic;
  font-size: 16px;
}

.container h3 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.container a {
  text-decoration: none;
}

.form-container {
  max-width: 1200px;
  width: 20em;
  margin: auto;
}

#header-wrappable {
  width: auto;
  margin-left: 1em;
  margin-right: 1em;
}

.wide-submit {
  margin: auto;
  margin-right: 0 !important;
  width: 100%;
}

.calcu-result {
  padding-left: 0.25em;
  font-weight: 500;
  font-size: 36px;
}

.valid-result {
  color: #02ff00;
}

.invalid-result {
  color: #ff0000;
}