---
title: Contact - Matthew Gan
permalink: /contact
---
<head>
  {% include imports.html %}
</head>
<body>
  {% include header.html %}
  <div class="home">
    <h1>Get in touch.</h1>
  </div>
  <div class="gridLinks">
    <p id="emailText">You can email me at </p><a href="mailto:john_matthew_gan@dlsu.edu.ph">john_matthew_gan@dlsu.edu.ph</a>
  </div>
  <div class="gridLinks">
    <a id="hyperlink" href="https://www.linkedin.com/in/john-matthew-gan-30721a187/">LinkedIn profile</a>
    <a id="hyperlink" href="https://github.com/ganmatthew">GitHub profile</a>
    <a id="hyperlink" href="docs/032521_CV.pdf" download="CV">Download CV</a>      
  </div>
  <div class="gridLinks">
    <a id="hyperlink" href="https://twitter.com/ChromeEight">Twitter</a>
    <a id="hyperlink" href="https://www.youtube.com/channel/UCLbeQ7dd_AWezAkQV7L3inw">YouTube</a>
    <a id="hyperlink" href="https://en.wikipedia.org/wiki/User:Ganmatthew">Wikipedia</a>   
  </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>