---
title: DLSU ID Number Verification
description: DLSU ID Number verification and generator
permalink: /dlsu-id-number-verification
redirect_from:
- /id_number.html
---
<head>
  {% capture override_dependencies %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">
  {% endcapture %}
  {% include imports.html content=override_dependencies %}
  <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
  <script src="js/id_number.js"></script>
</head>
<body>
  {%include header.html %}
  <div class="home">
    <h1 id="header-wrappable">DLSU ID Number Verification</h1>
    <div class="calculator-container" id="check-id-number-container">
      <h2 id="header-center">Verify an ID Number</h2>
      <p class="center-paragraph" id="space-below-paragraph" >Checks if the given ID number matches the format of a DLSU ID number.</p>
      <div class="form-container">
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">ID Number</span>
            </div>
            <input type="text" class="form-control" placeholder="" id="check-id-number-input-value" min="0" maxlength="8">
          </div>

          <div class="input-group mb-3">
            <label id="check-id-number-result-label">Result:</label>
            <p class="calcu-result" id="check-id-number-result-value"></p>
          </div>
        </form>
      </div>

      <div class="calculator-container" id="generate-id-number-container">
        <h2 id="header-center">Generate ID Numbers</h2>
        <p class="center-paragraph" id="space-below-paragraph" >Generates all possible ID numbers given the first few digits corresponding to the entry year.</p>
        <div class="form-container">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">First three digits</span>
              </div>
              <input type="text" class="form-control" placeholder="119" id="generate-id-number-input-value" maxlength="3">
            </div>

            <div class="input-group mb-3">
              <label id="generate-id-number-result-label">Entry year:</label>
              <p class="small-calcu-result" id="generate-id-number-year-value"></p>
            </div>
  
            <div class="input-group mb-3">
              <button type="button" class="btn btn-primary btn-lg mr-2 wide-submit" id="generate-id-number-submit" disabled>Generate</button>
            </div>
  
            <div id="generate-id-result-container">
              <!--<label id="generate-id-number-result-label">Number of results:</label>-->
              <!--<p class="small-calcu-result" id="generate-id-number-result-value"></p>-->
              <!--<textarea id="number-list" readonly></textarea>-->
              <!--Start of Bootstrap table container-->
              <div class="table-container" id="id_number_table_container" hidden>
                <table 
                    id="id_number_table"
                    data-toggle="table" 
                    data-search="true"
                    data-pagination="true" 
                    data-page-list="[10, 25, 50, 100, all]"
                    data-search-align="left"
                    data-search-highlight="true"
                    >
                    <thead>
                        <tr>
                            <th data-sortable="true" data-field="id">#</th>
                            <th data-sortable="true" data-field="id_number">ID Number</th>
                        </tr>
                    </thead>
                </table>
              </div>
              <!--End of Bootstrap table container-->
            </div>
          </form>
        </div>
    </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>