---
permalink: /
---
<head>
  {% include imports.html %}
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="js/art_grid.js"></script>
  <script src="js/collapsible.js"></script>
</head>
<body>
  {% include navigation.html %}
  
  {% include home.html %}

  {% include projects.html %}

  {% include contact.html %}

  <footer>
    {% include footer.html %}
  </footer>
</body>