<head>
  {% include imports.html %}
</head>
<body>
  {% include header.html %}
  <div class="home">
    <h1>My projects</h1>
    <div class="container">

      <div class="card">
        <a href="https://www.roblox.com/games/257223268/Cobalt-Valley-Research-Facility">
          <img id="cardImage" class="card-img-top" src="images/cvrf_thumbnail.png">
          <h3>Cobalt Valley Research Facility</h3>
        </a>
        <div class="card-body">
          <p class="caption">Roblox sci-fi roleplay game</p>
          <p>Programmer, Designer, and Project Head</p>
        </div>
      </div>

      <div class="card">
        <a href="/dlsu-grade_calculator">
          <img id="cardImage" class="card-img-top" src="images/grade_calcu_thumbnail.png">
          <h3>DLSU Grade Calculator</h3>
        </a>
        <div class="card-body">
          <p class="caption">A really mundane calculator</p>
          <p>Honestly, I just wanted to have one place to calculate my grade percentage equivalences easily.</p>
        </div>
      </div>

      <div class="card">
        <a href="dlsu-id-number-verification">
          <img id="cardImage" class="card-img-top" src="images/id_number_thumbnail.png">
          <h3>DLSU ID Number Verification</h3>
        </a>
        <div class="card-body">
          <p class="caption">Verify and generate DLSU ID numbers</p>
          <p>A calculator that checks for valid DLSU ID numbers and allows you to generate ID numbers for a given entry year.</p>
        </div>
      </div>

  </div>
  <footer>
   {% include footer.html %}
  </footer>
</body>