---
title: Train Car Calculator
description: Calculate which train car to board on Metro Manila's LRT and MRT lines to arrive at the nearest exit at your destination station.
permalink: /train-car-calculator
---
<head>
  {% capture override_dependencies %}
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
  {% endcapture %}
  {% include imports.html content=override_dependencies %}
  <script type="module" src="js/train_car_calculator.js"></script>
</head>
<body>
  {%include navigation.html %}
  <div class="home">
    <h1 class="calc-title">LRT/MRT Train Car Calculator<span class="beta-indicator"><p class="badge badge-secondary">BETA</p></span></h1>
    <div class="calculator-container" id="check-id-number-container">
      <p class="center-paragraph" id="space-below-paragraph">Determine which train to board to arrive at the nearest exit at your destination.</p>
      <div class="form-container" id="train-car-calculator">
        <form>
          <!--Line-->
          <div class="mb-3">
            <fieldset class="d-flex flex-wrap justify-content-between">
              <legend class="form-label">Line</legend>
              <input type="radio" class="btn-check" name="train-line" id="lrt1" value="0" autocomplete="off" checked>
              <label class="btn" for="lrt1">LRT-1</label>
              <input type="radio" class="btn-check" name="train-line" id="lrt2" value="1" autocomplete="off">
              <label class="btn" for="lrt2">LRT-2</label>
              <input type="radio" class="btn-check" name="train-line" id="mrt3" value="2" autocomplete="off">
              <label class="btn" for="mrt3">MRT-3</label>
            </fieldset>
            <div id="origin-station-feedback" class="invalid-feedback"></div>
          </div>
          <!--Origin-->
          <div class="mb-3">
            <label for="origin-station" class="form-label">Origin</label>
            <select class="form-select" id="origin-station">
                <option value="0" selected>Fernando Poe Jr.</option>
                <option value="1">Balintawak</option>
                <option value="2">Monumento</option>
                <option value="3">5th Avenue</option>
                <option value="4">R. Papa</option>
                <option value="5">Abad Santos</option>
                <option value="6">Blumentritt</option>
                <option value="7">Tayuman</option>
                <option value="8">Bambang</option>
                <option value="9">Doroteo Jose</option>
                <option value="10">Carriedo</option>
                <option value="11">Central Terminal</option>
                <option value="12">United Nations</option>
                <option value="13">Pedro Gil</option>
                <option value="14">Quirino</option>
                <option value="15">Vito Cruz</option>
                <option value="16">Gil Puyat</option>
                <option value="17">Libertad</option>
                <option value="18">EDSA</option>
                <option value="19">Baclaran</option>
                <option value="20">Redemptorist-Aseana</option>
                <option value="21">MIA Road</option>
                <option value="22">PITX</option>
                <option value="23">Ninoy Aquino Avenue</option>
                <option value="24">Dr. Santos</option>
            </select>
            <div id="origin-station-feedback" class="invalid-feedback"></div>
          </div>
          <!--Destination-->
          <div class="mb-3">
            <label for="destination-station" class="form-label">Destination</label>
            <select class="form-select" id="destination-station">
                <option value="0">Fernando Poe Jr.</option>
                <option value="1" selected>Balintawak</option>
                <option value="2">Monumento</option>
                <option value="3">5th Avenue</option>
                <option value="4">R. Papa</option>
                <option value="5">Abad Santos</option>
                <option value="6">Blumentritt</option>
                <option value="7">Tayuman</option>
                <option value="8">Bambang</option>
                <option value="9">Doroteo Jose</option>
                <option value="10">Carriedo</option>
                <option value="11">Central Terminal</option>
                <option value="12">United Nations</option>
                <option value="13">Pedro Gil</option>
                <option value="14">Quirino</option>
                <option value="15">Vito Cruz</option>
                <option value="16">Gil Puyat</option>
                <option value="17">Libertad</option>
                <option value="18">EDSA</option>
                <option value="19">Baclaran</option>
                <option value="20">Redemptorist-Aseana</option>
                <option value="21">MIA Road</option>
                <option value="22">PITX</option>
                <option value="23">Ninoy Aquino Avenue</option>
                <option value="24">Dr. Santos</option>
            </select>
            <div id="destination-station-feedback" class="invalid-feedback"></div>
          </div>
          <!--Exit Options-->
          <div class="mb-3" id="station-exit-dropdown" hidden>
            <label for="station-exit" class="form-label">Exit at Destination</label>
            <select class="form-select" id="station-exit">
            </select>
          </div>
          <div class="calcu-lower row mb-4">
            <div class="col">
              <!--Car Configuration-->
              <div class="mb-3">
                <label for="configuration" class="form-label">Train Configuration</label>
                <select class="form-select" id="configuration">
                  <option value="3">3-car</option>
                  <option value="4" selected>4-car</option>
                </select>
              </div>
              <!--Direction-->
              <div class="mb-3">
                <label for="direction" class="form-label">Train Direction</label>
                <input class="form-control" type="text" id="direction" value="Southbound" disabled readonly>
              </div>
            </div>
            <!--Priority Car Option-->
            <div class="col">
              <label for="priority-car" class="form-label">Settings</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="priority-car">
                <label class="form-check-label" for="priority-car">Include priority car</label>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <button type="button" class="btn btn-success btn-lg mr-2 wide-submit" id="train-car-calculator-submit">Calculate</button>
          </div>
        </form>
      </div>
      <!--Output-->
      <div class="row mb-4" id="train-car-results" hidden>
        <label class="mb-3" id="train-car-calculator-result-label">Result:</label>
        <div class="train-car-graphic-group mb-0">
          <div id="train-car-graphic-container"></div>
          <div class="d-flex w-100 justify-content-between" style="font-size: 1em;">
            <div class="direction-text d-flex align-items-center" id="terminus1">
              <span>
                <?xml version="1.0" encoding="utf-8"?><svg width="30" height="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="arrow-svg"><path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/></svg>
              </span>
              <span id="terminus1-text">To Fernando Poe Jr.</span>
            </div>
            <div class="direction-text d-flex align-items-center" id="terminus2">
              <span id="terminus2-text">To Dr. Santos</span>
              <span>
                <?xml version="1.0" encoding="utf-8"?><svg width="30" height="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="arrow-svg"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>
              </span>
            </div>
          </div>
        </div>
        <p class="calcu-result" id="train-car-number-result"></p>
        <p class="calcu-result" id="train-car-message-result"></p>
      </div>
    </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>