html, body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #494949;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    background-color: whitesmoke;
}

header, footer{
	padding: 2em 20%;
}

footer {
    background-color: #2f2f2f;
}

p { 
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: #000000;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    color: #000000;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

h3 {
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

.caption {
    font-weight: 400;
    font-size: 16px;
    color: #aca5a5;
    line-height: 1.5em;
}

a {
	color: #42c229;
	text-decoration: none;
    cursor: pointer;
}

.hyperlink:hover {
    padding-bottom: 0.05em;
    border-bottom: 2px solid #42c229;   
}

.decorlink {
    color: #42c229; 
}

.decorlink:hover {
    padding-bottom: 0.05em;
    border-bottom: 2px solid #838383; 
    color: #838383; 
}

nav {
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 0;
	background-color: #2f2f2f;
    box-sizing: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#about{
    background-image: url("images/unnamed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-color: rgba(235, 255, 235, 0.6);
    background-blend-mode: lighten;
}

.center {
    transition: all 0.3s ease;
    max-width: 50%;
    box-sizing: border-box;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul#menu li{
    transition: all 0.3s ease;
    margin-right: 10%;
}

@media only screen and (max-width: 640px) {
    .center{
        transition: all 0.3s ease;
        max-width: 100%;
    }
}

.siteNavTitle {
    color: white;
    font-weight: 800;
    transition: all 0.3s ease;
    max-width: 10%;
    margin-right: 4.5em;
    font-size: 21px;
    line-height: 80%;
}

.siteNavTitle:hover {
    color: greenyellow; 
}

nav ul{
    display: flex;
    margin-left: 0.8em;
    margin-right: 0.8em;
	align-items: center;
}

nav ul#menu li:hover{
    color: white;
    border-bottom: 3px solid greenyellow;
    transition: all 0.3s ease;
}

nav ul#menu li a{
    color: white;
}

nav ul#menu li{
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    padding-bottom: 0px;
	text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 5vh;
}

button{
    padding: 0.7em 1.8em;
	background-color: #008cff;
    border: solid #008cff;
    border-width: 0px;
	border-radius: 12px;
	color: white;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: whitesmoke;
    border: solid #008cff;
    border-width: 2px;
    color: #000000;
	transition: all 0.3s ease;
}

section {
    padding-top: 30px;
    padding-bottom: 100px;
    height: fit-content;
    width: 100%; 
}
  
section:nth-child(odd) {
    background-color: #2f2f2f;
    color: white; 
}

section:nth-child(odd) button:hover{
    background-color: #2f2f2f;
    color: #FFFFFF;
}

section:nth-child(odd) h1, h2{
    color: #FFFFFF;
}

div.center {
    padding-top: 50px;
}

section#footer p {
    color: #FFFFFF;
}

.link-container{
    padding-top: 5px;
    padding-bottom: 5px;
}

.column-content{
	display: flex;
	justify-content: space-between;
}

.column-content div{
    width: 18em;
}

/* Image gallery collage */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 5px;

  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (min-width: 800px) {
    .column {
      flex: 32%;
      max-width: 32%;
    }
    section #center  {
        transition: all 0.3s ease;
        max-width: 90%;
        box-sizing: inline-block;
        margin: auto;
    }
    .center {
        transition: all 0.3s ease;
        max-width: 90%;
        box-sizing: inline-block;
        margin: auto;
    }
    div #center {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
        padding-top: 0px;
        box-sizing: inline-block;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 640px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    section #center  {
        transition: all 0.3s ease;
        max-width: 100%;
    }
    .center {
        transition: all 0.3s ease;
        max-width: 100%;
    }
    div #center {
        margin-left: 2.5%;
        margin-right: 2.5%;
        max-width: 95%;
        box-sizing: inline-block;
    }
  }

code {
    font-family: Roboto Mono;
    font-size: small;
    
}