
<section class="segment" id="contact">
  <h1>Get in touch.</h1>
  <div class="gridLinks">
    <p id="emailText">You can email me at: </p><a href="mailto:ganmatthew09@gmail.com">ganmatthew09@gmail.com</a>
  </div>
  <div class="gridLinks">
    <a class="hyperlink" href="https://www.linkedin.com/in/john-matthew-gan-30721a187/">LinkedIn profile</a>
    <a class="hyperlink" href="https://github.com/ganmatthew">GitHub profile</a>
    <a class="hyperlink" href="docs/111823_Resume.pdf" download="Resume">Download Resume</a>      
  </div>
  <div class="gridLinks">
    <a class="hyperlink" href="https://twitter.com/ChromeEight">Twitter</a>
    <a class="hyperlink" href="https://instagram.com/ganmatthew09">Instagram</a>
    <a class="hyperlink" href="https://en.wikipedia.org/wiki/User:Ganmatthew">Wikipedia</a>   
  </div>
</section>
