
<section class="segment" id="contact">
  <h1>Contact Me</h1>
  <div class="socmed-table">
    <a class="socmed-icon" href="mailto:ganmatthew09@gmail.com">
      <span><img src="/images/icons/email.svg"><p>ganmatthew09@gmail.com</p></span>
    </a>
  </div>
  <h1>Find Me</h1>
  <div class="socmed-table">
    <a class="socmed-icon" href="https://twitter.com/ChromeEight/">
      <span><img src="/images/icons/twitter.svg"><p>ChromeEight</p></span>
    </a>
    <a class="socmed-icon" href="https://www.instagram.com/ganmatthew09">
      <span><img src="/images/icons/instagram.svg"><p>ganmatthew09</p></span>
    </a>
    <a class="socmed-icon" href="https://discord.com/users/148422105459982336">
      <span><img src="/images/icons/discord.svg"><p>matwogan</p></span>
    </a>
    <a class="socmed-icon" href="https://github.com/ganmatthew">
      <span><img src="/images/icons/github.svg"><p>ganmatthew</p></span>
    </a>
    <a class="socmed-icon" href="https://www.linkedin.com/in/john-matthew-gan/">
      <span><img src="/images/icons/linkedin.svg"><p>john-matthew-gan</p></span>
    </a>
    <a class="socmed-icon" href="https://en.wikipedia.org/wiki/User:Ganmatthew">
      <span><img src="/images/icons/wikipedia.svg"><p>Ganmatthew</p></span>
    </a>
  </div>
</section>