<section id="home">
   <header class="container bio">
      <div>
         <img id="bio-pic" src="/images/bio_pic-cropped-min.png">
      </div>
      <div id="bio-info">
         <h1 id="greeting">Hi, I'm Matthew.</h1>
         <p>
            I am a writer, software engineer, and graphic designer building practical tools with data. I enjoy turning everyday problems into useful tools and data-driven projects in my spare time.
         </p>
         <div class="socmed-table">
            <a class="socmed-icon" href="/docs/Resume - John Matthew Gan.pdf">
               <span><i data-lucide="file-text" width="20" height="20"></i><p>Download Resume</p></span>
             </a>
         </div>
      </div>
   </header>
   
 </section>