<section class="segment projects" id="projects">
  <h1>My projects</h1>
  <!--Programmer projects-->
  <div class="container">
    <div class="card">
      <a href="https://www.roblox.com/games/257223268/Cobalt-Valley-Research-Facility">
        <img id="cardImage" class="card-img-top" src="images/cvrf_thumbnail.png">
        <h3>Cobalt Valley Research Facility</h3>
      </a>
      <div class="card-body">
        <p class="caption">Roblox sci-fi roleplay game</p>
        <p>Programmer, Designer, and Project Head</p>
      </div>
    </div>
    <div class="card">
      <a href="/dlsu-grade-calculator">
        <img id="cardImage" class="card-img-top" src="images/grade_calcu_thumbnail.png">
        <h3>DLSU Grade Calculator</h3>
      </a>
      <div class="card-body">
        <p class="caption">Grade Percent Equivalences Calculator</p>
        <p>Simple calculator for getting grade equivalences based on the different passing grades at DLSU.</p>
      </div>
    </div>
    <div class="card">
      <a href="dlsu-id-number-verification">
        <img id="cardImage" class="card-img-top" src="images/id_number_thumbnail.png">
        <h3>DLSU ID Number Verification</h3>
      </a>
      <div class="card-body">
        <p class="caption">Verify and generate DLSU ID numbers</p>
        <p>A calculator that checks for valid DLSU ID numbers and allows you to generate ID numbers for a given entry year.</p>
      </div>
    </div>
    <div class="card">
      <a href="http://brothers.thelasallian.com/">
        <img id="cardImage" class="card-img-top" src="images/tls-brothers-thumbnail.png">
        <h3>The LaSallian DLS Brothers Special</h3>
      </a>
      <div class="card-body">
        <p class="caption">Website for The LaSallian</p>
        <p>A website of <a class="hyperlink" href="https://thelasallian.com/"><i>The LaSallian</i></a> released for the birth anniversary of St. Jean-Baptiste de La Salle.</p>
      </div>
    </div>
</section>
<section class="segment projects" id="">
  <!--Designer projects-->
  <h1>My artwork</h1>
  <div class="art-type">
    <h2>Logos</h2>
  </div>
  <div class="grid art-grid">
    <!-- width of .grid-sizer used for columnWidth -->
    <div class="grid-sizer"></div>
    <!-- <div class="grid-item"><img src="images\artworks\CentralandPH.png"></div>  -->
    <div class="grid-item"><img src="images\artworks\Jubifries_V2_Background.png"></div>     
    <div class="grid-item"><img src="images\artworks\CVRF.png"></div>
    <div class="grid-item"><img src="images\artworks\TetrisIconForeground.png"></div>
    <div class="grid-item"><img src="images\artworks\HYBB_logo.png"></div>
  </div>
  <div class="art-type">
    <h2>Thumbnails</h2>
  </div>
  <div class="grid art-grid">
    <div class="grid-sizer"></div>
    <div class="grid-item"><img src="images\artworks\CVRFIntegratedThumbHidden.png"></div>
    <div class="grid-item"><img src="images\artworks\CVRFIntegratedThumbProps.png"></div>
    <div class="grid-item"><img src="images\artworks\CVRF015Thumb1.png"></div>
    <div class="grid-item"><img src="images\artworks\CVRFIntegratedThumbHeadcrabs.png"></div>
  </div>
  <div class="art-type">
    <h2>Posters and Pubmats</h2>
  </div>
  <div class="grid art-grid">
    <div class="grid-sizer"></div>
    <div class="grid-item"><img src="images\artworks\LSCS3rdGAMain_Edited.png"></div>
    <div class="grid-item"><img src="images\artworks\LSCSCreativeProblemSolvingOriginal.png"></div>
    <div class="grid-item"><img src="images/artworks/LSCSDesignThinkingPub_Revised.png"></div>
    <div class="grid-item"><img src="images/artworks/LSCSFigmaWorkshop.png"></div>
    <div class="grid-item"><img src="images/artworks/LSCSFinalsGroupStudy2021C.png"></div>
    <div class="grid-item"><img src="images/artworks/LSCSFirebaseFlutterDartPub.png"></div>
    <div class="grid-item"><img src="images\artworks\PressStartPoster.png"></div>
  </div>
</section>
<script type="text/javascript">
  var msnry;
  var masonryOptions = {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    resize: true,
    gutter: 10
  };
  document.querySelectorAll('.grid').forEach(function(gridElement) {
    console.log(gridElement)
    imagesLoaded(gridElement, function() {
      msnry = new Masonry(gridElement, masonryOptions);
    });
  });
</script>